@import "settings";
@import "foundation";

body {
    background-color: #FFF;
    padding-top: 100px;
}

tr.correct {
    td {
        color: #48AA45;
    }
}

tr.incorrect {
    td {
        color: #BB1519;
    }
}

#from_box {
    border: 3px solid #A4B7BB;
    margin: 10px 0;
    font-size: 40px;
    padding: 30px;
}

#answer_box {
    border: 0px;
    border-bottom: 3px solid #A4B7BB;
    margin: 10px 0;
    height: 125px;
    font-size: 40px;
    background-color: none;
    padding-left: 30px;
}

.range_edit {
    display: none;
}